<mat-radio-group [nasModel]="store('useCurrentLocation')">
  <div class="radio-container">
    <mat-radio-button class="current-radio" [value]="true">
      Current
    </mat-radio-button>
  </div>
  <form class="radio-container" (submit)="searchIfChanged()">
    <mat-radio-button [value]="false"></mat-radio-button>
    <mat-form-field>
      <input
        matInput
        name="custom"
        placeholder="Custom"
        [(ngModel)]="custom"
        (click)="selectCustom()"
        (blur)="searchIfChanged()"
      />
    </mat-form-field>
  </form>
</mat-radio-group>
