<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Sources</mat-expansion-panel-header>
    <div *ngFor="let sourceId of sourceIds" [class]="sourceId">
      <mat-slide-toggle [nasModel]="store('sources')(sourceId)('show')">
        {{ store("sources")(sourceId)("label").$ | async }}
      </mat-slide-toggle>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>Units</mat-expansion-panel-header>
    <div class="button-toggle-list">
      <mat-button-toggle-group
        *ngFor="let unitOption of unitOptions"
        [nasModel]="store('units')(unitOption.type)"
      >
        <mat-button-toggle
          *ngFor="let option of unitOption.options"
          [value]="option"
        >
          {{ option | uppercase }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>Conditions</mat-expansion-panel-header>
    <div *ngFor="let condition of conditions" [ngClass]="condition">
      <mat-slide-toggle [nasModel]="store('showConditions')(condition)">
        {{ conditionInfo[condition].label }}
      </mat-slide-toggle>
    </div>
  </mat-expansion-panel>
</mat-accordion>
