<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Location</mat-expansion-panel-header>
    <app-location-options></app-location-options>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>Sources</mat-expansion-panel-header>
    <app-source-options></app-source-options>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>Units</mat-expansion-panel-header>
    <app-unit-options></app-unit-options>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>Conditions</mat-expansion-panel-header>
    <app-condition-options></app-condition-options>
  </mat-expansion-panel>
</mat-accordion>
