<mat-list>
  <h3 matSubheader>Sources</h3>
  <mat-list-item *ngFor="let sourceStore of sourceStores$ | async">
    <mat-slide-toggle [nasModel]="sourceStore('show')">
      {{ sourceStore("label").$ | async }}
    </mat-slide-toggle>
  </mat-list-item>

  <mat-divider></mat-divider>

  <h3 matSubheader>Conditions</h3>
  <mat-list-item *ngFor="let condition of conditions" [ngClass]="condition">
    <mat-slide-toggle [nasModel]="store('showConditions')(condition)">
      {{ conditionDisplays[condition].label }}
    </mat-slide-toggle>
  </mat-list-item>
</mat-list>
