.radio-container {
  height: 48px;
  display: flex;
  align-items: center;
}

.current-radio {
  width: 100%
}

mat-slide-toggle {
  height: 48px;
  width: 100%;
}

.button-toggle-list {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
  grid-gap: 16px;
}

mat-button-toggle {
  flex: 1 1 0;
}
