<h2 mat-dialog-title>Update available</h2>
<div mat-dialog-content class="mat-typography">
  <p>
    We’re sorry for the inconvenience, but you probably noticed that extra bar
    at the top of the app. Weather graph moved to a new, better URL!
    Unfortunately, to get rid of that bar we need you to uninstall your current
    version and reinstall Weather Graph from
    <a href="https://weather.simonton.app">https://weather.simonton.app</a>.
  </p>
  <p>
    If you don’t have time right now, no problem! This version is fully
    functional and up to date, except for that unfortunate bar.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>OK</button>
</div>
