<mat-expansion-panel>
  <mat-expansion-panel-header>Units</mat-expansion-panel-header>
  <div class="button-toggle-list">
    @for (unitOption of unitOptions; track unitOption) {
      <mat-button-toggle-group
        hideSingleSelectionIndicator
        [(ngModel)]="store('units')(unitOption.type).state"
      >
        @for (option of unitOption.options; track option) {
          <mat-button-toggle
            [value]="option"
            (change)="trackChange(unitOption.type)"
          >
            {{ option | uppercase }}
          </mat-button-toggle>
        }
      </mat-button-toggle-group>
    }
  </div>
</mat-expansion-panel>
