<h2 mat-dialog-title>Privacy Policy</h2>
<div mat-dialog-content class="mat-typography">
  <p>
    This Statement of Privacy applies to
    <code>https://weather.simonton.app</code> and governs data collection and
    usage. For the purposes of this Privacy Policy, unless otherwise noted, all
    references to Weather Graph include
    <code>https://weather.simonton.app</code>. By using Weather Graph, you
    consent to the data practices described in this statement.
  </p>

  <h3>Collection of your Personal Information</h3>
  <p>
    We do not collect any personal information about you unless you voluntarily
    provide it to us. This happens when you grant Weather Graph permission to
    access your location via your web browser, or when manually entering your
    location into the "Custom" field within Weather Graph.
  </p>

  <h3>Sharing Information with Third Parties</h3>
  <p>
    Weather Graph does not sell, rent or lease personal information to third
    parties.
  </p>
  <p>
    Weather Graph may share data with trusted partners to help perform
    statistical analysis. All such third parties are prohibited from using your
    personal information except to provide these services to Weather Graph, and
    they are required to maintain the confidentiality of your information.
  </p>
  <p>
    Weather Graph may disclose your personal information, without notice, if
    required to do so by law or in the good faith belief that such action is
    necessary to: (a) conform to the edicts of the law or comply with legal
    process served on Weather Graph; and/or (b) act under exigent circumstances
    to protect the personal safety of users of Weather Graph, or the public.
  </p>

  <h3>Tracking User Behavior</h3>
  <p>
    Weather Graph may keep track of the features our users use within Weather
    Graph, in order to determine which are the most popular.
  </p>
  <p>
    We use Mixpanel in this process. We allow Mixpanel to collect your location
    no more fine-grained than your city. It does not store your IP address. We
    do not send Mixpanel any personally identifying information, nor do we let
    Mixpanel store any cookies for Weather Graph.
  </p>

  <h3>Automatically Collected Information</h3>
  <p>
    Information about your computer hardware and software may be automatically
    collected by Weather Graph. This information can include: your browser type,
    domain names, access times and referring website addresses. This information
    is used for the operation of the service, to maintain quality of the
    service, and to provide general statistics regarding use of the Weather
    Graph website.
  </p>

  <h3>Security of your Personal Information</h3>
  <p>
    Weather Graph secures your personal information from unauthorized access,
    use, or disclosure. When personal information is transmitted to other
    services, it is protected through the use of encryption, such as the Secure
    Sockets Layer (SSL) protocol.
  </p>
  <p>
    We strive to take appropriate security measures to protect against
    unauthorized access to or alteration of your personal information.
    Unfortunately, no data transmission over the Internet or any wireless
    network can be guaranteed to be 100% secure. As a result, while we strive to
    protect your personal information, you acknowledge that: (a) there are
    security and privacy limitations inherent to the Internet which are beyond
    our control; and (b) security, integrity, and privacy of any and all
    information and data exchanged between you and us through this Site cannot
    be guaranteed.
  </p>

  <h3>Children Under Thirteen</h3>
  <p>
    Weather Graph does not knowingly collect personally identifiable information
    from children under the age of thirteen. If you are under the age of
    thirteen, you must ask your parent or guardian for permission to use this
    website.
  </p>

  <h3>External Data Storage Sites</h3>
  <p>
    We may store your data on servers provided by third party hosting vendors
    with whom we have contracted.
  </p>

  <h3>Changes to this Statement</h3>
  <p>
    Weather Graph reserves the right to change this Privacy Policy from time to
    time. We will notify you about significant changes in the way we treat
    personal information by placing a prominent notice on our site, and/or by
    updating any privacy information on this page. Your continued use of Weather
    Graph after such modifications will constitute your: (a) acknowledgment of
    the modified Privacy Policy; and (b) agreement to abide and be bound by that
    Policy.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>OK</button>
</div>
