<mat-toolbar color="primary">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Weather</h1>

  <span class="toolbar-spacer"></span>

  <button mat-icon-button (click)="setRange(1)">
    <mat-icon svgIcon="day"></mat-icon>
  </button>
  <button mat-icon-button (click)="setRange(3)">
    <mat-icon svgIcon="three-days"></mat-icon>
  </button>
  <button mat-icon-button (click)="setRange(7)">
    <mat-icon svgIcon="week"></mat-icon>
  </button>

  <mat-progress-bar
    *ngIf="loadingInterceptor.inFlight$ | async"
    mode="indeterminate"
  ></mat-progress-bar>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav>
    <app-options></app-options>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-graph></app-graph>
  </mat-sidenav-content>
</mat-sidenav-container>
