<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">{{ title$ | async }}</span>

  <button mat-icon-button class="day" (click)="setRange(1, 'click_day')">
    <mat-icon svgIcon="day"></mat-icon>
  </button>
  <button
    mat-icon-button
    class="three-days"
    (click)="setRange(3, 'click_three_days')"
  >
    <mat-icon svgIcon="three-days"></mat-icon>
  </button>
  <button mat-icon-button class="week" (click)="setRange(7, 'click_week')">
    <mat-icon svgIcon="week"></mat-icon>
  </button>

  <mat-progress-bar
    *ngIf="httpStatusService.hasInFlightRequest$ | async"
    mode="indeterminate"
    color="accent"
  ></mat-progress-bar>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div class="sidenav-content">
      <app-options></app-options>
      <mat-action-list>
        <button mat-list-item (click)="showAbout()">About</button>
        <button mat-list-item (click)="showPrivacyPolicy()">
          Privacy Policy
        </button>
      </mat-action-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-graph></app-graph>
  </mat-sidenav-content>
</mat-sidenav-container>
