:host {
  display: grid;
  width: 95vw;
  height: 95vh;
  margin: 10px auto;

  grid-template:
    "g g g g g g g" minmax(0, 1fr)
    / auto 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
}

app-graph {
  grid-area: g;
  justify-self: stretch;
}

.condition {
  justify-self: stretch;

  text-align: center;
}

.source {
  justify-self: left;
}
