:host, app-graph {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

:host {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  justify-items: stretch;
  align-items: stretch;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

app-graph {
  margin: 16px;
}
