:host {
  height: 100%;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
}

mat-toolbar {
  position: relative;
  min-width: 0;
}

h1 {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-progress-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidenav-content {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

app-graph {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 16px;
}
