<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>{{ title$ | async }}</h1>

  <button
    mat-icon-button
    (click)="setRange(1)"
    sTrack="click"
    eventName="click_day"
    eventCategory="set_range"
  >
    <mat-icon svgIcon="day"></mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="setRange(3)"
    sTrack="click"
    eventName="click_three_days"
    eventCategory="set_range"
  >
    <mat-icon svgIcon="three-days"></mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="setRange(7)"
    sTrack="click"
    eventName="click_week"
    eventCategory="set_range"
  >
    <mat-icon svgIcon="week"></mat-icon>
  </button>

  <mat-progress-bar
    *ngIf="httpStatusService.hasInFlightRequest$ | async"
    mode="indeterminate"
  ></mat-progress-bar>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-options></app-options>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-graph></app-graph>
  </mat-sidenav-content>
</mat-sidenav-container>
