<h2 mat-dialog-title>About Weather Graph</h2>
<div mat-dialog-content class="mat-typography">
  <p>
    I used to use a specific weather app on my phone because I liked its graph.
    However, its server was down just enough to really annoy me. I tried a dozen
    other apps looking for a similar graph, but couldn't find one. So I made my
    own.
  </p>

  <h3>3rd Party APIs</h3>
  <p>
    Weather Graph does not do any forecasting itself. Instead it gathers data
    from other sources to display in the graph. Those sources are:
  </p>
  <p>
    <strong>OpenWeather:</strong>
    <a href="https://openweathermap.org/" target="_blank"
      >https://openweathermap.org/</a
    >
  </p>
  <p>
    <strong>Visual Crossing</strong>
    <a href="https://www.visualcrossing.com/" target="_blank"
      >https://www.visualcrossing.com/</a
    >
  </p>
  <p>
    <strong>Weather.gov:</strong>
    <a href="https://www.weather.gov/" target="_blank"
      >https://www.weather.gov/</a
    >
  </p>
  <p>
    <strong>Weather Unlocked:</strong>
    <a href="https://developer.weatherunlocked.com/" target="_blank"
      >https://developer.weatherunlocked.com/</a
    >
  </p>
  <p>
    In addition, Weather Graph uses Location IQ when you search for a custom
    location, and to determine city names and time zones:
  </p>
  <p>
    <strong>Location IQ:</strong>
    <a href="http://locationapi.org/" target="_blank"
      >http://locationapi.org/</a
    >
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>OK</button>
</div>
