@use "@angular/material" as mat;

$condition-palettes: (
  amount: mat.m2-define-palette(mat.$m2-blue-palette, A400, A100, A700),
  cloud: mat.m2-define-palette(mat.$m2-gray-palette),
  dew: mat.m2-define-palette(mat.$m2-cyan-palette),
  feel: mat.m2-define-palette(mat.$m2-pink-palette, 100, 50, 200),
  temp: mat.m2-define-palette(mat.$m2-red-palette),
  wind: mat.m2-define-palette(mat.$m2-yellow-palette),
);

@mixin define-custom-property($name, $value) {
  #{'--' + $name}: $value;
}

body {
  @each $condition, $palette in $condition-palettes {
    @include define-custom-property(
      $condition,
      mat.m2-get-color-from-palette($palette)
    );
  }
}
