@use "sass:map" as map;
@use "@angular/material" as mat;
@use "app/to-replace/ng-mat-core/theming";

$main-palettes: (
  primary: mat.$blue-palette,
);
$config: (
  dark-palettes: $main-palettes,
  light-palettes: $main-palettes,
  modules: (
    "button",
    "button-toggle",
    "core",
    "dialog",
    "expansion",
    "form-field",
    "icon",
    "icon-button",
    "input",
    "list",
    "progress-bar",
    "radio",
    "sidenav",
    "slide-toggle",
    "snack-bar",
    "toolbar",
  ),
);
$theme: theming.define-m3-theme($config, "dark-palettes");

@include theming.full-m3-theming($config...);
@import "conditions";

a {
  color: mat.get-theme-color($theme, secondary, 60);
}

@mixin shaped-toggle($clip-path) {
  --mdc-switch-handle-shape: 0;

  .mdc-switch__handle {
    clip-path: $clip-path;

    & > * {
      display: none;
    }
  }
}

.openWeather {
  @include shaped-toggle(polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%));
}

.visualCrossing {
  @include shaped-toggle(
    polygon(
      0% 15%,
      15% 0%,
      50% 35%,
      85% 0%,
      100% 15%,
      65% 50%,
      100% 85%,
      85% 100%,
      50% 65%,
      15% 100%,
      0% 85%,
      35% 50%
    )
  );
}

.weatherGov {
  @include shaped-toggle(circle(50%));
}

.weatherUnlocked {
  @include shaped-toggle(polygon(0% 90%, 50% 0%, 100% 90%));
}
