// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
@import "conditions";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$weather-primary: mat-palette($mat-indigo, 400);
$weather-accent: mat-palette($mat-blue-grey, A400, A100, A700);

// The warn palette is optional (defaults to red).
$weather-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$weather-light-theme: mat-light-theme(
  $weather-primary,
  $weather-accent,
  $weather-warn
);
$weather-dark-theme: mat-dark-theme(
  $weather-primary,
  $weather-accent,
  $weather-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($weather-light-theme);
@media (prefers-color-scheme: dark) {
  @include angular-material-theme($weather-dark-theme);
}

@each $condition, $palette in $condition-palettes {
  $theme: mat-light-theme($weather-primary, $palette);
  .#{$condition} {
    @include mat-core-theme($theme);
    @include mat-slide-toggle-theme($theme);
  }

  @media (prefers-color-scheme: dark) {
    $theme: mat-dark-theme($weather-primary, $palette);
    .#{$condition} {
      @include mat-core-theme($theme);
      @include mat-slide-toggle-theme($theme);
    }
  }
}

.climacell .mat-slide-toggle-thumb {
  border-radius: 0;
  clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
}

.openWeather .mat-slide-toggle-thumb {
  border-radius: 0;
  clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
}

.weatherUnlocked .mat-slide-toggle-thumb {
  border-radius: 0;
  clip-path: polygon(0% 90%, 50% 0%, 100% 90%);
}

.mat-slide-toggle-thumb-container {
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2))
    drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12));

  & > .mat-slide-toggle-thumb {
    box-shadow: none;
  }
}

a {
  color: mat-color($weather-accent);
}
